*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #87D68D;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 50vh;
}

header {
  font-size: 1rem;
}

header,
form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
} 

form button{
  color: #8491A3;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item{
  min-width: 30%;
  list-style-type: none;
  }

.todo{
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo li{
  flex: 1;
}

.trash-btn, .complete-btn {
  color: #8491A3;
  background: white;
  border: none;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}